html {
    background-color: hwb(240 50% 10%);
    color: black;
    font-family: sans-serif;
    line-height: 125%;
    text-align: justify;
    hyphens: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: lightgray 3px solid;
    background-color: hwb(240 40% 20%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 {
    margin-right: auto;
    font-size: 3.5rem;
}


