html {
    background-color: hwb(150 25% 30%);
    font-family: sans-serif;
    line-height: 125%;
    text-align: justify;
    hyphens: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 10px;
    border: black 3px solid;
    background-color: hwb(150 50% 30%);
}

h2 {
    margin: 0;
    padding: 10px;
    border-right: black 1px solid;
}

div {
    margin: 0 10px;
}

