body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.pagina {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #393B3B;
    align-items: center;
    z-index: 1;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav img {
    margin-left: 30px;
}

.text {
    margin: 0 20%;
}

ul {
    align-items: end;
    margin: 0;
    margin-right: 10px;
    list-style: none;
    text-align: center;
}

li {
    float: left;
    color: white;
    padding: 20px 30px;
    transition: color 0.3s ease;
}

.active {
    border-bottom: 2px solid gray;
}

li:hover {
    color: gray;
}

.imagenPresentacion {
    background-color: #393B3B;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenPresentacion img {
    height: 100%;
    width: auto;
    opacity: 0;
    transition: opacity 1s ease;
}

.imagenPresentacion img:hover {
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
}

article p {
    text-align: center;
    color: rgb(71, 71, 71);
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    color: black;
}

article.servicios {
    grid-area: servicios;
    display: flex;
    justify-content: center;
    background-color: #393B3B;
    padding: 30px;
}

article.servicios p {
    color: white;
    padding: 0 30px;
    margin: 0;
    font-variant: small-caps;
    float: left;
}

.infoImg {
    display: grid;
    grid-template-rows: 6fr 1fr 6fr;
    grid-template-areas: 
        "foto1 text1"
        "foto1 foto2"
        "text2 foto2";
    align-items: center;
}

.infoImg p {
    margin: 0 20%;
}

.infoImg p.text1 {
    grid-area: text1;
}

.infoImg p.text2 {
    grid-area: text2;
}

.infoImg img.foto1 {
    grid-area: foto1;
}

.infoImg img.foto2 {
    grid-area: foto2;
}

footer {
    background-color: #393B3B;
    padding: 10px;
    color: rgb(126, 126, 126);
}

.imgFooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.condiciones {
    color: white;
    text-align: center;
}

footer p a {
    color: rgb(126, 126, 126);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p a:hover {
    color: white;
}